.App {
  text-align: left;
  padding: 0.5rem;
}

.MonsterDetail {
  padding: 20px;
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
}

.AppBody {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  overflow: auto;
}

.StatBlockContainer {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}