.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.MonsterDetail {
  padding: 20px;
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
}

.AppBody {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 20px;
  overflow: auto;
}

.StatBlockContainer {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}