.App {
  text-align: center;
}

.AppBody {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 20px;
}

.StatBlockContainer {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}